@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
body {
  background-color: hsl(235, 18%, 26%);
  font-family: Roboto, sans-serif;
}
.content {
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  justify-content: center;
  align-content: center;
  display: flex;
  text-align: center;
  height: fit-content;
  border-radius: 15px;
  padding: 10px;
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
.one {
  padding-top: 60px;
  text-align: start;
  margin-left: 30px;
}
.two {
  margin-left: auto;
  width: 50%;
  height: 80%;
}
.two img {
  height: 100%;
}
button {
  width: 320px;
  height: 40px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.email {
  text-align: left;
  margin-left: 40px;
  margin-top: 10px;
  width: 200px;
  font-size: 13px;
}
.check {
  display: flex;
  gap: 0px;
}
.check img {
  margin-left: 30px;
  width: 20px;
  height: 20px;
  translate: -10px 80%;
}
header {
  font-size: 50px;
  font-weight: 700;
}
span {
  font-size: 11px;
  font-weight: 700;
}
::placeholder {
}
input {
  height: 30px;
  width: 310px;
  font-size: 13px;
}
.phone {
  display: none;
}
@media (max-width: 800px) {
  .content {
    display: flex;

    flex-direction: column-reverse;
  }
  .web {
    display: none;
  }
  .phone {
    display: block;

    translate: -50% 0;
  }
}
